@media (max-width: 300px) {
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top {
    width: 354px;
  }
  header.overflow-hidden {
    overflow: none !important;
    width: 110%;
  }
}

@media (max-width: 500px) {
  .form-section {
    display: flex;
    flex-direction: row;
  }
  span.logo-text {
    font-size: 16px;
    /* width: 78%; */
  }

  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top {
    width: 94%;
  }
  .intro h1,
  h3 {
    width: 40%;
    color: black;
    position: relative;
    margin-top: -20px;
    top: 67%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
  .description {
    width: 30%;
  }
  .about.d-flex.mt-10.justify-content-between.section-padding {
    display: flex;
    flex-direction: column-reverse;
  }
  .image img {
    width: 370px !important;
    height: 200px;
  }
  .description {
    width: 90%;
    margin-left: 10px;
  }
  .container.form-section {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 600px) {
  .image img {
    width: 200px;
    height: 300px;
  }
  .card {
    height: 300px;
    margin-left: 60px;
  }
}
@media (max-width: 772px) {
  .footer-image img {
    height: 400px;
  }
  .image img {
    width: 200px;
  }
}

@media (max-width: 992px) {
  .image img {
    width: 400px;
    height: 200px;
  }
}
