@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Noto+Sans+JP:wght@100&display=swap");

* {
  box-sizing: border-box;
}
.scroll {
  position: relative;
}

.section-padding {
  padding: 15px;
}
header {
  max-width: 100%;

  margin-top: -80px;
}

/* brand img       */
.navbar-brand > img {
  height: 65px;
}

/* logo  */

nav {
  background: transparent;
}
.nav-link {
  font-family: "Odibee Sans", cursive;
  font-size: 30px;
  color: grey !important;
}
.nav-link:hover {
  font-family: "Odibee Sans", cursive;
  font-size: 30px;
  color: rgb(243, 238, 238) !important;
}
.logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid #0dcaf0;
  background-size: cover;
}
.logo-text {
  font-family: "Pattaya", sans-serif;
  font-size: 35px;
  color: goldenrod !important;
  text-shadow: 0px 0px 20px goldenrod;
}

/* navbar scrooled */
.fixed-top.scrolled {
  background-color: #7bdcb5 !important;
  transition: background-color 200ms linear;
}
.intro {
  width: 100%;
  background-color: #7bdcb5;
  height: 100vh;
}
.intro span {
  font-family: "Limelight", cursive;
}
.intro h1,
h3 {
  width: 40%;
  color: black;
  position: relative;
  margin-top: -20px;
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.intro h1,
h3 {
  color: white;
}
.bg-maroon {
  color: maroon;
}

/* about me section  */

.line {
  width: 250px;
  height: 3px;
  background-color: black;
  text-align: center;
  margin: 10px auto;
}

.about {
  margin-top: 100px;
}
.image img {
  width: 600px;
  height: 400px;
  margin: 10px;
}
.card {
  width: 80%;
  height: 60%;

  margin-left: 20px;
  background: transparent;
}
.card img {
  height: 300px;
  overflow: hidden;
}
.skill {
  background: url("img/svg.png");
  background-size: cover;
  background-position: center;
}

/* .skill section */
.slider.owl-carousel.owl-loaded.owl-drag {
  margin-top: 100px;
}
/* progress bar    */

.skills {
  background-color: grey;
}

/* html card  */
.html {
  position: relative;
  background-color: #0dcaf0;
  width: 1%;
  height: 20px;
  animation-name: html;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes html {
  from {
    width: 1%;
  }
  to {
    width: 90%;
    background-color: rgb(101, 245, 101);
  }
}

/* css card   */
.css {
  position: relative;
  background-color: #0dcaf0;
  width: 1%;
  height: 20px;
  animation-name: css;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes css {
  from {
    width: 1%;
  }
  to {
    width: 92%;
    background-color: rgb(101, 245, 101);
  }
}

/* javascript card  */
.javascript {
  position: relative;
  background-color: #0dcaf0;
  width: 1%;
  height: 20px;
  animation-name: javascript;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes javascript {
  from {
    width: 1%;
  }
  to {
    width: 80%;
    background-color: rgb(33, 139, 86);
  }
}

/* bootstrap card   */
.bootstrap {
  position: relative;
  background-color: #0dcaf0;
  width: 1%;
  height: 20px;
  animation-name: bootstrap;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes bootstrap {
  from {
    width: 1%;
  }
  to {
    width: 90%;
    background-color: rgb(51, 168, 110);
  }
}
/* node js card   */
.node-js {
  position: relative;
  background-color: #0dcaf0;
  width: 1%;
  height: 20px;
  animation-name: node;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes node {
  from {
    width: 1%;
  }
  to {
    width: 75%;
    background-color: rgb(235, 232, 73);
  }
}
/* react card    */
.react {
  position: relative;
  background-color: #0dcaf0;
  width: 1%;
  height: 20px;
  animation-name: react;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes react {
  from {
    width: 1%;
  }
  to {
    width: 82%;
    background-color: rgb(38, 133, 85);
  }
}
/* mongodb card    */
.mongo {
  position: relative;
  background-color: #0dcaf0;
  width: 1%;
  height: 20px;
  animation-name: mongo;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes mongo {
  from {
    width: 1%;
  }
  to {
    width: 70%;
    background-color: rgb(216, 214, 70);
  }
}
footer {
  background: url("img/ff.png");
  background-size: cover;
  background-blend-mode: fill;
}

/* footer section  */
.container.form-section {
  display: grid;
  margin-top: 100px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
form {
  width: 80%;
}
.footer-image img {
  width: 100%;
  height: auto;
  background: transparent;
}

.icons {
  margin-bottom: 50px;
  margin-top: 50px;
}
.icon {
  margin: 10px auto;
}
.icon i {
  width: 40px;
  height: 40px;
  font-size: 20px;
  margin-left: 10px;
}
.fab.fa-facebook {
  background-color: rgb(68, 68, 199);
  color: white;
  border-radius: 50%;
  padding: 11px;
}
.fab.fa-linkedin {
  background-color: rgb(68, 68, 199);
  color: white;
  border-radius: 30%;
  padding: 11px;
}
.fab.fa-github {
  background-color: purple;
  padding: 11px;
  border-radius: 50%;
  color: white;
}
.fab.fa-twitter {
  background-color: rgb(24, 72, 160);
  padding: 11px;
  color: white;
}
.icons i:hover {
  transform: rotateY("180deg");
}
.count {
  margin-top: 50px;
}
